.shoppingbody {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.rts-select {
  border: pink solid 2px;
  width: 50%;
  margin: 20px;
  padding: 5px;
}

.cus-select {
  border: pink solid 2px;
  width: 50%;
  margin: 20px;
  padding: 5px;
}

.rtsbutton {
  width: 50%;
}

.cusbutton {
  width: 50%;
}

.ReadyToSell {
  width: 95%;
  height: 475px;
}

.Customize {
  width: 95%;
  height: 475px;
}
