.products-show {
  display: flex;
  flex-wrap: wrap;
}

.itemdetails {
  display: flex;
  align-items: center;
}

.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: solid 5px #44edf4;
  margin: 10px;
  width: 250px;
  align-content: space-around;
}

.rtsimage {
  width: 175px;
  height: auto;
}

.rtsdetailimage {
  width: 450px;
  height: auto;
}

.product-title {
  font-size: xx-large;
}

.product-details {
  margin: 5px;
  width: 550px;
}

.price {
  font-size: xx-large;
}

.product-btn {
  color: rgb(0, 0, 0);
  font-size: 22px;
  line-height: 22px;
  padding: 15px;
  border-radius: 5px;
  font-family: Georgia, serif;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  background-image: linear-gradient(
    to right,
    rgb(46, 159, 164) 0%,
    rgb(125, 234, 239) 100%
  );
  box-shadow: rgba(0, 0, 0, 0) 5px 37px 15px 5px;
  border: 2px solid rgb(28, 110, 164);
  display: inline-block;
}

.filter-btn {
  display: flex;
  justify-content: space-around;
}
