.navbar {
  display: flex;
  flex-wrap: nowrap;
  background-color: lightcoral;
  margin: 0;
  width: 100%;
  padding: 0.5rem;
  font-family: "Single Day";
  font-size: x-large;
  justify-content: space-around;
}

.navbar-item {
  flex-basis: 20%;
  list-style-type: none;
}

.navbar-logout {
  margin-left: auto;
}

.navbar-link:hover {
  color: var(--primary);
}
